aside.test-cases {
  min-width: 170px;
  max-width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: min-width 80ms ease-in-out;
  flex-grow: 1;
  flex-shrink: 1;
  border-right: 2px solid #eee;
}

aside.test-cases h3 {
  padding: 15px;
  margin: 0;
}

aside.test-cases .tabbar ~ .content,
aside.test-cases .tabbar ~ ul {
  max-height: initial;
  flex-grow: 1;
}
